/* ----------------------------- Reset ------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  block-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ---------------------------- My config -------------------------------- */

/* Tags */
body {
  background-color: rgba(20, 16, 11, 0.9);
  color: cornsilk;
}

/* Classes */
.content {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.post {
  background-color: cornsilk;
  padding: 1.5rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  color: rgba(20, 16, 11, 0.9);
}

/* Media */
@media (min-width: 600px) {
  .content {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
}
