{% load static %}
<div class="main-content grid-one-content">
  <h2>Gallery</h2>
  <p>Some "Monster Hunter Wilds" main monsters</p>
  <div class="grid">
    <div class="gallery-img">
      <img src="{% static 'assets/img/rey dau.png' %}" alt="Rey Dau" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'assets/img/chata.png' %}" alt="Chatacabra" />
    </div>
    <div class="gallery-img">
      <img
        src="{% static 'assets/img/rico puentes.png' %}"
        alt="Rico Puentes"
      />
    </div>
    <div class="gallery-img">
      <img src="{% static 'assets/img/lala.png' %}" alt="Lala Barina" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'assets/img/nu udra.png' %}" alt="Nu Udra" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'assets/img/jin dahaad.png' %}" alt="Jin Dahaad" />
    </div>
  </div>
</div>
