<div class="main-content grid-one-content">
  <h2>Top 3 Apex</h2>
  <p>The top 3 best apex monsters</p>
  <div class="grid">
    <article>
      <h3>Nu Udra</h3>
      <p>
        The cephalopod that reigns supreme over Oilwell Basin’s ecosystem.
        Usually, when sighted, Nu Udra is covered in oilsilt, but when enraged
        it will ignite the coating, transfiguring itself into a horror of flame.
        The oculi that appear on its body and many arms are presumed to be
        sensory organs, but the truth is still being investigated.
      </p>
    </article>
    <article>
      <h3>Rey Dau</h3>
      <p>
        The flying wyvern that reigns supreme over the Windward Plains’
        ecosystem. It has adapted to the Sandtide – when it most frequently
        appears – and is able to store, amplify, and discharge the storm’s heavy
        lightning to lethal effect. Rey Dau is highly territorial and will
        attack any and all intruders on sight. The Fulgurite against its
        carapace emits a sound that puts every monster in the region on guard.
      </p>
    </article>
    <article>
      <h3>Jin Dahaad</h3>
      <p>
        A leviathan that sits at the peak of the Iceshard Cliff's ecosystem. It
        surrounds its massive form in cold temperatures via ridge-like cooling
        organs across its body: the frost its limbs produce doubles as a potent
        weapon and a way to travel along walls and floating rocks.
      </p>
    </article>
  </div>
</div>
