{% load static %}
<div class="main-content intro-content">
  <div class="intro-text">
    <h2>
      The fates of a people and nature entwined. At the center—a boy named Nata
      and the mysterious White Wraith.
    </h2>
    <p>
      Several years ago, a boy named Nata was discovered near the border of the
      Forbidden Lands, an uncharted region believed by the Guild to be
      uninhabited.Nata recounts how his village was attacked by a mysterious
      monster. In response, the Guild has organized an expedition to
      investigate.The Hunter is assigned to one of the units tasked with
      investigating the "White Wraith" and rescuing Nata's people known as the
      Keepers.
    </p>
  </div>
  <div class="intro-img">
    <img
      src="{% static 'assets/img/bg_story.8b4e31d0.jpg' %}"
      alt="Arkveld attacks!"
    />
  </div>
</div>
