<div class="main-content apex-content">
  <h2>The Apex</h2>
  <p>
    Apex Monsters are a unique categorization in Monster Hunter Wilds. While the
    title itself doesn't translate to anything necessarily special, it does
    denote the increased difficulty and thereby increased loot of these
    monsters. We'll tell you which are the apex monsters of which regions and
    exactly what that means here.
  </p>
  <p>
    These monsters will be naturally encountered through the story and are a bit
    harder than your average monster. However, they appear quite frequently in
    the end game and can appear as their Tempered variants just like any other
    monster.
  </p>
  <p>
    The most important thing to keep in mind about the Apex Monsters is that
    they generally have better equipment than other monsters, excluding some
    end-game monsters. They also inhabit a unique Rarity 6 slot when they're
    encountered as Tempered Monsters, allowing them to drop the elusive Hunter's
    Symbol III.
  </p>
</div>
