<div class="main-content apex-content">
  <h2>Wilds Weapons</h2>
  <p>
    Weapons in Monster Hunter Wilds are all the main offensive equipment
    available in the game used in Combat. MH Wilds provides a wide arsenal of
    Weapon types and individual Weapon pieces to choose from. These Weapons are
    staples in the Monster Hunter series, with few categories making regular
    appearances in the franchise. View all available Weapons in the game and
    details on their stats, abilities, and how to find them below. Players can
    choose which weapon best suits them to complement their build and playstyle.
  </p>

  <div class="responsive-table">
    <table>
      <caption>
        Wilds Best Weapons
      </caption>
      <thead>
        <tr>
          <th>Hammer</th>
          <th>Dual Blades</th>
          <th>Insect Glaive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content 1</td>
          <td>Content 2</td>
          <td>Content 3</td>
        </tr>
        <tr>
          <td>Content 1</td>
          <td>Content 2</td>
          <td>Content 3</td>
        </tr>
        <tr>
          <td>Content 1</td>
          <td>Content 2</td>
          <td>Content 3</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Footer</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
