<!doctype html>
<html lang="en">
  {% include 'global/partials/head.html' %}
  <body>
    {% include 'global/partials/menu.html' %}
    <section id="intro" class="main-bg section">
      <div class="main-content intro-content">
        <div class="intro-text">
          <h2>
            The fates of a people and nature entwined. At the center—a boy named
            Nata and the mysterious White Wraith.
          </h2>
          <p>
            Several years ago, a boy named Nata was discovered near the border
            of the Forbidden Lands, an uncharted region believed by the Guild to
            be uninhabited.Nata recounts how his village was attacked by a
            mysterious monster. In response, the Guild has organized an
            expedition to investigate.The Hunter is assigned to one of the units
            tasked with investigating the "White Wraith" and rescuing Nata's
            people known as the Keepers.
          </p>
        </div>
        <div class="intro-img">
          <img src="assets/img/bg_story.8b4e31d0.jpg" alt="Arkveld attacks!" />
        </div>
      </div>
    </section>
    <section id="apex" class="other-bg section">
      <div class="main-content apex-content">
        <h2>The Apex</h2>
        <p>
          Apex Monsters are a unique categorization in Monster Hunter Wilds.
          While the title itself doesn't translate to anything necessarily
          special, it does denote the increased difficulty and thereby increased
          loot of these monsters. We'll tell you which are the apex monsters of
          which regions and exactly what that means here.
        </p>
        <p>
          These monsters will be naturally encountered through the story and are
          a bit harder than your average monster. However, they appear quite
          frequently in the end game and can appear as their Tempered variants
          just like any other monster.
        </p>
        <p>
          The most important thing to keep in mind about the Apex Monsters is
          that they generally have better equipment than other monsters,
          excluding some end-game monsters. They also inhabit a unique Rarity 6
          slot when they're encountered as Tempered Monsters, allowing them to
          drop the elusive Hunter's Symbol III.
        </p>
      </div>
    </section>

    <section id="top3" class="grid-one main-bg section">
      <div class="main-content grid-one-content">
        <h2>Top 3 Apex</h2>
        <p>The top 3 best apex monsters</p>
        <div class="grid">
          <article>
            <h3>Nu Udra</h3>
            <p>
              The cephalopod that reigns supreme over Oilwell Basin’s ecosystem.
              Usually, when sighted, Nu Udra is covered in oilsilt, but when
              enraged it will ignite the coating, transfiguring itself into a
              horror of flame. The oculi that appear on its body and many arms
              are presumed to be sensory organs, but the truth is still being
              investigated.
            </p>
          </article>
          <article>
            <h3>Rey Dau</h3>
            <p>
              The flying wyvern that reigns supreme over the Windward Plains’
              ecosystem. It has adapted to the Sandtide – when it most
              frequently appears – and is able to store, amplify, and discharge
              the storm’s heavy lightning to lethal effect. Rey Dau is highly
              territorial and will attack any and all intruders on sight. The
              Fulgurite against its carapace emits a sound that puts every
              monster in the region on guard.
            </p>
          </article>
          <article>
            <h3>Jin Dahaad</h3>
            <p>
              A leviathan that sits at the peak of the Iceshard Cliff's
              ecosystem. It surrounds its massive form in cold temperatures via
              ridge-like cooling organs across its body: the frost its limbs
              produce doubles as a potent weapon and a way to travel along walls
              and floating rocks.
            </p>
          </article>
        </div>
      </div>
    </section>

    <section id="gallery" class="grid-one other-bg section">
      <div class="main-content grid-one-content">
        <h2>Gallery</h2>
        <p>Some "Monster Hunter Wilds" main monsters</p>
        <div class="grid">
          <div class="gallery-img">
            <img src="assets/img/rey dau.png" alt="Rey Dau" />
          </div>
          <div class="gallery-img">
            <img src="assets/img/chata.png" alt="Chatacabra" />
          </div>
          <div class="gallery-img">
            <img src="assets/img/rico puentes.png" alt="Rico Puentes" />
          </div>
          <div class="gallery-img">
            <img src="assets/img/lala.png" alt="Lala Barina" />
          </div>
          <div class="gallery-img">
            <img src="assets/img/nu udra.png" alt="Nu Udra" />
          </div>
          <div class="gallery-img">
            <img src="assets/img/jin dahaad.png" alt="Jin Dahaad" />
          </div>
        </div>
      </div>
    </section>

    <section id="weapons" class="main-bg section">
      <div class="main-content apex-content">
        <h2>Wilds Weapons</h2>
        <p>
          Weapons in Monster Hunter Wilds are all the main offensive equipment
          available in the game used in Combat. MH Wilds provides a wide arsenal
          of Weapon types and individual Weapon pieces to choose from. These
          Weapons are staples in the Monster Hunter series, with few categories
          making regular appearances in the franchise. View all available
          Weapons in the game and details on their stats, abilities, and how to
          find them below. Players can choose which weapon best suits them to
          complement their build and playstyle.
        </p>

        <div class="responsive-table">
          <table>
            <caption>
              Wilds Best Weapons
            </caption>
            <thead>
              <tr>
                <th>Hammer</th>
                <th>Dual Blades</th>
                <th>Insect Glaive</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Content 1</td>
                <td>Content 2</td>
                <td>Content 3</td>
              </tr>
              <tr>
                <td>Content 1</td>
                <td>Content 2</td>
                <td>Content 3</td>
              </tr>
              <tr>
                <td>Content 1</td>
                <td>Content 2</td>
                <td>Content 3</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">Footer</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
    <section id="contact" class="other-bg section">
      <div class="main-content intro-content">
        <div class="intro-text">
          <h2>Contact</h2>
          <p>
            Title update 2 is out now!<br />Send me a message if you have any
            questions or sugestions!
          </p>
        </div>
        <div class="contact-img">
          <img
            src="assets/img/tu2.jpg"
            alt="Title Update 2 monsters (Lagiacrus and Seregios)"
          />
        </div>
        <div class="contact-form">
          <fieldset class="form-grid">
            <legend>Contact me</legend>
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input
                type="text"
                name="first-name"
                id="first-name"
                placeholder="Your name"
              />
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input
                type="text"
                name="last-name"
                id="last-name"
                placeholder="Your last name"
              />
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your e-mail"
              />
            </div>
            <div class="form-group full-width">
              <label for="message">Message</label>
              <textarea
                name="message"
                id="message"
                placeholder="Your message"
              ></textarea>
            </div>
            <div class="form-group full-width">
              <button type="submit">Send message</button>
            </div>
          </fieldset>
        </div>
      </div>
    </section>
    <footer id="footer" class="caio-footer">
      <p>
        <a rel="nofollow" target="_blank" href="https://github.com/gaaiuss"
          >Made with <span class="heart">❤</span> by Caio Castro</a
        >
      </p>
    </footer>

    <a class="back-to-top" href="#"></a>
    <script src="assets/js/script.js"></script>
  </body>
</html>
